<header class="page-header">
  <div class="container">
    {% if PROFILE_IMAGE %}
      <div class="header-image pull-left">
        <a class="nodec" href="{{ SITEURL }}"><img src={{ PROFILE_IMAGE }}></a>
      </div>
    {% endif %}
    <div class="jumbotron">
      <div class="header-inner">
        <h2 class="header-name">
          <a class="nodec" href="{{ SITEURL }}">{{ SITENAME }}</a>
        </h2>
        <h3 class="header-text">{{ SITE_SUBTEXT }}</h3>
        
      </div>
    </div>
    <!--Modify NavBar -->
        {% if NAVBAR_INVERSE %}
        <nav class="navbar navbar-inverse">
        {% else %}
        <nav class="navbar">
        {% endif %}

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menu</a>
          </div>

          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
              {% for title, link in MENU_ITEMS %}
              <li><a class="nodec" href="{{ link }}" target="_blank">{{ title }}</a></li>
            {% endfor %}
            {% if PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li><a class="nodec" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            {% if CATEGORIES_ON_MENU %}
              {% for category, articles in categories %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
              {% endfor %}
            {% endif %}
            {% if TAGS_ON_MENU %}
              <li><a class="nodec" href="{{ SITEURL }}/tags.html">Tags</a></li>
            {% endif %}
            {% if ARCHIVES_ON_MENU %}
              <li><a class="nodec" href="{{ SITEURL }}/archives.html">Archives</a></li>
            {% endif %}
            {% if EMAIL_ADDRESS %}
              <li><a class="nodec icon-mail-alt" href="mailto:{{ EMAIL_ADDRESS }}"></a></li>
            {% endif %}
            {% if GITHUB_ADDRESS %}
              <li><a class="nodec icon-github" href="{{ GITHUB_ADDRESS }}"></a></li>
            {% endif %}
            {% if SO_ADDRESS %}
              <li><a class="nodec icon-stackoverflow" href="{{ SO_ADDRESS }}"></a></li>
            {% endif %}
            {% if TWITTER_ADDRESS %}
              <li><a class="nodec icon-twitter" href="{{ TWITTER_ADDRESS }}"></a></li>
            {% endif %}
            {% if FB_ADDRESS %}
              <li><a class="nodec icon-facebook" href="{{ FB_ADDRESS }}"></a></li>
            {% endif %}
            {% if FEED_ATOM or FEED_RSS %}
              <li><a class="nodec icon-rss" href="/{% if FEED_ATOM %}{{ FEED_ATOM }}{% else %}{{ FEED_RSS }}{% endif %}"></a></li>
            {% endif %}
            </ul>
           </div> 
        </nav>
  </div>
</header> <!-- /.header -->
