<header class="header">
        {% if NAVBAR_INVERSE %}
        <nav style="margin-bottom:0" class="navbar navbar-inverse navbar-default">
        {% else %}
        <nav style="margin-bottom:0" class="navbar navbar-default" >
        {% endif %}
        <div class="container-fluid"> 
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Categories</a>
              </div>

              <div class="collapse navbar-collapse" id="header-collapse" >
                <ul class="nav navbar-nav">
                  {% for title, link in MENU_ITEMS %}
                  <li><a href="{{ link }}" target="_blank">{{ title }}</a></li>
                {% endfor %}
                {% if PAGES_ON_MENU %}
                  {% for p in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endfor %}
                {% endif %}
                {% if CATEGORIES_ON_MENU %}
                  {% for category, articles in categories %}
                    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
                  {% endfor %}
                {% endif %}
                {% if TAGS_ON_MENU %}
                  <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                {% endif %}                
                </ul>
               </div>
            </div>    
        </nav>

        <div class="jumbotron">
         <div class="container">
          {% if PROFILE_IMAGE %}
            <div class="header-image pull-left">
              <a class="nodec" href="{{ SITEURL }}"><img src={{ PROFILE_IMAGE }}></a>
            </div>
          {% endif %}
            <div class="header-inner">
              <h2 class="header-name">
                <a class="nodec" href="{{ SITEURL }}">{{ SITENAME }}</a>
              </h2>
              <h3 class="header-text">{{ SITE_SUBTEXT }}</h3>
              {% if LANDING_PAGE %}
                <p><a class="btn btn-primary" role = "button" href= "{{ LANDING_PAGE }}">Go back to Landing Page >></a></p>
              {% endif %}  
            </div>  
          </div>
        </div>
</header> <!-- /.header -->
